
<div class="py-5 border-top">
  <div class="container">
    <p class="h5 mb-3">{{ site.title | escape }}</p>

    <div class="row">

      <div class="col-sm">
        <ul class="list-unstyled">
          <li>
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
            <li>
              <a href="mailto:{{ site.email }}">
                {{ site.email }}
              </a>
            </li>
          {%- endif -%}
        </ul>
      </div>

      <div class="col-sm text-left">
        <p>Endereço: </p>
        <p>R. Goiás, 960 São Joaquim da Barra - SP 14600-000</p>
        <iframe width="100%" height="80%" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:Ej1SLiBHb2nDoXMsIDk2MCwgU8OjbyBKb2FxdWltIGRhIEJhcnJhIC0gU1AsIDE0NjAwLTAwMCwgQnJhemlsIlESTwo0CjIJj8qZ4j05upQRiT-do6q1lHwaHgsQ7sHuoQEaFAoSCQNQEyQkObqUEcH2GCz4KkggDBDAByoUChIJZ92zkz05upQRiwNSwjfExMw&key=AIzaSyC0GFs4K_rz1UUc6PNKv_cB8GMkKTgOT_Q"></iframe>
      </div>
      <div class="col-sm text-left">
        <p>Contatos:</p>
        
        <p>
          <a href="https://www.instagram.com/psicologaveronicalisboa/"><i class="bi bi-instagram"></i> @psicologaveronicalisboa</a>
        </p>
        <p>
          <a href="https://api.whatsapp.com/send?phone=+5516992983960&text=Oi, gostaria de saber mais sobre a psicoterapia!"><i class="bi bi-whatsapp"></i> +55 16 99298 3960</a>
        <p>
        <p>
          <a href="https://api.whatsapp.com/send?phone=+5516992983960&text=Oi, gostaria de saber mais sobre a psicoterapia!"><i class="bi bi-envelope"></i> veronicavsfl@hotmail.com </a>
        <p>          
      </div>

    </div>

  </div>
</div>
