---
layout: default
---

<article>
  <header>
    <h1>{{ page.title | escape }}</h1>
  </header>
  <section>
    {{ content }}
    <div class="text-center">
      <img
        src="../assets/images/foto.jpg"
        width="200"
        height="179"
        class="rounded-circle"
        alt="..."
      />
    </div>
  </section>

  <div class="text-center">
    <img
      src="../assets/images/logo150x150.png"
      width="100"
      height="89"
      alt="..."
    />
  </div>
  <h1 class="display-8 text-center">Verônica Sued Lisboa</h1>
  <h3 class="text-center">Psicóloga Clínica</h3>
  <p class="text-center">CRP 06/167839</p>

  <p class="text-center">
    🍃 Quero te ajudar a ter autoconhecimento 🎓 em formação em orientação
    Psicanalista 👩🏿‍💻psicoterapia presencial/online.
  </p>

  <div class="d-flex justify-content-center" style="margin-bottom: 10px;">
    <div class="card text-center" style="width: 100%">
      <div class="card-body">
        <a href="https://api.whatsapp.com/send?phone=+5516992983960&text=Oi, gostaria de saber mais sobre a psicoterapia!" class="btn btn-primary" style="color: #F28C0F;"
          ><i class="bi bi-whatsapp"></i> Agendamento para psicoterapia.</a
        >
      </div>
      <div class="card-body">
        <a href="https://t.me/+_1h_J7zA42YwMWRh" class="btn btn-primary" style="color: #F28C0F;"
          ><i class="bi bi-telegram"></i>Despertando autoestima- Conhecendo meu corpo para novas rotinas!</a
        >
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="card text-center" style="width: 100%">
      <div class="card-body">
        <h5 class="card-title">Baixe gratuitamente E-book sobre ansiedade</h5>
        <a href="http://eepurl.com/huSRAr" class="btn btn-primary" style="color: #F28C0F;"
          ><i class="bi bi-book"></i> E-book GRATUITO sobre ansiedade.</a
        >
      </div>
    </div>
  </div>
</article>
